body {
    color: black;
    hyphens: auto;
    }

.first-section{
    display: grid;
    grid-template-rows: auto auto auto auto 50px;
    height: auto !important;
    }

/*CSS für die Seite Allgemein*/    
.first-sec{
    height: auto;
    grid-row: 1 / 1;
    }

.first-sec h1 {
    text-align: left;
    margin-bottom: 10px;
    }

.first-sec h3 {
    margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
    }

.first-sec p {
    text-align: justify;
    margin-top: 10px;
    }

/*CSS für den Inhalt der Seite*/    
.inhalt{
    display: grid;
    grid-template-rows: auto 10px auto;
    }

.inhalt ol{
    margin-top: 5px;
    margin-left: 35px;
    }

.inhalt li{
    margin-top: 5px;
    margin-bottom: 5px;
    }

.einleitung{
    grid-row: 1 / 1;
    height: auto;
    }
    
.firmengeschichte{
    grid-row: 3 / 3;
    background-color: #3aafa9;
    }

/*CSS für die Darstellung des Standorts der Firma*/
/*CSS für nicht Mobile Geräte*/
.darstellung_unser_standort{
    display: grid;
    grid-template-rows: 40px 480px;
    grid-template-columns: auto 300px 640px auto;
    grid-row: 2 / 2;
    background-color: var(--light);
    height: 570px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .darstellung_unser_standort{
        grid-template-rows: 20px 120px;
        grid-template-columns: auto 75px 160px auto;
        height: 142.5px;
        }
    }

/*CSS für Zwischen Schritte zum Full Bildschirm*/     
@media (min-width: 440px){
    .darstellung_unser_standort{
        grid-template-rows: 24px 192px;
        grid-template-columns: auto 120px 256px auto;
        height: 228px;
        }
    }
   
@media (min-width: 600px){
    .darstellung_unser_standort{
        grid-template-rows: 28px 264px;
        grid-template-columns: auto 165px 352px auto;
        height: 313.5px;
        }
    }

@media  (min-width: 760px){
    .darstellung_unser_standort{
        grid-template-rows: 32px 336px;
        grid-template-columns: auto 210px 448px auto;
        height: 399px;
        }
    }
    
@media (min-width: 920px){
    .darstellung_unser_standort{
        grid-template-rows: 36px 408px;
        grid-template-columns: auto 255px 544px auto;
        height: 484.5px;
        }
    }

@media (min-width: 1080px){
    .darstellung_unser_standort{
        grid-template-rows: 40px 480px;
        grid-template-columns: auto 300px 640px auto;
        height: 570px;
        }
    }

.darstellung_unser_standort h3{
    margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
    }

/*CSS für nicht Mobile Geräte*/ 
.darstellung_unser_standort p{
    margin-top: 15px;
    margin-left: 15px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px) {
    .darstellung_unser_standort p{
        font-size: 75%;
        margin-top: 3.75px;
        margin-left: 3.75px;
        }
    }

@media (min-width: 440px) {
    .darstellung_unser_standort p{
        font-size: 80%;
        margin-top: 6px;
        margin-left: 6px;
        }
    }

@media (min-width: 600px){
    .darstellung_unser_standort p{
        font-size: 85%;
        margin-top: 8.25px;
        margin-left: 8.25px;
        }
    }

@media (min-width: 760px){
    .darstellung_unser_standort p{
        font-size: 90%;
        margin-top: 10.5px;
        margin-left: 10.5px;
        }
    }

@media (min-width: 920px){
    .darstellung_unser_standort p{
        font-size: 95%;
        margin-top: 12.75px;
        margin-left: 12.75px;
        }
    }

@media (min-width: 1080px){
    .darstellung_unser_standort p{
        font-size: 100%;
        margin-top: 15px;
        margin-left: 15px;
        }
    }

/*CSS für nicht Mobile Geräte*/      
.unser_standort_ueberschrift{
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    height: 40px;
    }

/*CSS für Mobile Geräte*/    
@media (min-width: 280px){
    .unser_standort_ueberschrift{
        height: 20px;
        }
    }

/*CSS für Zwischen Schritte zum Full Bildschirm*/    
@media (min-width: 440px){
    .unser_standort_ueberschrift{
        height: 24px;
        }
    }
    
@media (min-width: 600px){
    .unser_standort_ueberschrift{
        height: 28px;
        }
    }

@media (min-width: 760px){
    .unser_standort_ueberschrift{
        height: 32px;
        }
    }

@media (min-width: 920px){
    .unser_standort_ueberschrift{
        height: 36px;
        }
    }

@media (min-width: 1080px){
    .unser_standort_ueberschrift{
        height: 40px;
        }
    }    

/*CSS für nicht Mobile Geräte*/    
.unser_standort_inhalt{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    background-color: white;
    border: 1px solid black;
    width: 300px;
    height: 480px;
    }

/*CSS für Mobile Geräte*/    
@media (min-width: 280px){
    .unser_standort_inhalt{
        width: 75px;
        height: 120px;
        }
    }

/*CSS für Zwischen Schritte zum Full Bildschirm*/      
@media (min-width: 440px){
    .unser_standort_inhalt{
        width: 120px;
        height: 192px;
        }
    }
  
@media (min-width: 600px){
    .unser_standort_inhalt{
        width: 165px;
        height: 264px;
        }
    }

@media (min-width: 760px){
    .unser_standort_inhalt{
        width: 210px;
        height: 336px;
        }
    }

@media (min-width: 920px){
    .unser_standort_inhalt{
        width: 255px;
        height: 408px;
        }
    }

@media (min-width: 1080px){
    .unser_standort_inhalt{
        width: 300px;
        height: 480px;
        }
    }

/*CSS für nicht Mobile Geräte*/  
.unser_standort{
    grid-row: 2 / 2;
    grid-column: 3 / 3;
    background-color: white;
    border: 1px solid black;
    width: 640px;
    height: 480px;
    }

/*CSS für Mobile Geräte*/    
@media (min-width: 280px){
    .unser_standort{
        width: 160px;
        height: 120px;
        }
    }

/*CSS für Zwischen Schritte zum Full Bildschirm*/        
@media (min-width: 440px){
    .unser_standort{
        width: 252px;
        height: 192px;
        }
    }

@media (min-width: 600px){
    .unser_standort{
        width: 344px;
        height: 264px;
        }
    }

@media (min-width: 760px){
    .unser_standort{
        width: 436px;
        height: 336px;
        }
    }

@media (min-width: 920px){
    .unser_standort{
        width: 528px;
        height: 408px;
        }
    }

@media (min-width: 1080px){
    .unser_standort{
        width: 640px;
        height: 480px;
        }
    }

/*CSS für nicht Mobile Geräte*/ 
#map{
    width: 640px;
    height: 480px;
    }

/*CSS für Mobile Geräte*/    
@media (min-width: 280px){
    #map{
        width: 160px;
        height: 120px;
        }
    }

/*CSS für Zwischen Schritte zum Full Bildschirm*/        
@media (min-width: 440px){
    #map{
        width: 252px;
        height: 192px;
        }
    }

@media (min-width: 600px){
    #map{
        width: 344px;
        height: 264px;
        }
    }

@media (min-width: 760px){
    #map{
        width: 436px;
        height: 336px;
        }
    }

@media (min-width: 920px){
    #map{
        width: 528px;
        height: 408px;
        }
    }

@media (min-width: 1080px){
    #map{
        width: 640px;
        height: 480px;
        }
    }

/*CSS für die Darstellung der Mitarbeiter*/
/*CSS für nicht Mobile Geräte*/
.darstellung_mitarbeiterkarten {
    display: grid;
    grid-template-columns: auto auto 500px auto auto;
    grid-row: 3 / 3;
    background-color: #3aafa9;
    }

/*Darstellung für Handys*/    
@media (min-width: 280px){
    .darstellung_mitarbeiterkarten{
        grid-template-columns: auto auto 250px auto auto;
        }
    }

@media (min-width: 440px){
    .darstellung_mitarbeiterkarten{
        grid-template-columns: auto auto 375px auto auto;
        }
    }

@media (min-width: 600px){
    .darstellung_mitarbeiterkarten{
        grid-template-columns: auto auto 500px auto auto;
        }
    }

.darstellung_mitarbeiterkarten hr{
    grid-column: 1 / 6;
    }

/*CSS für nicht Mobile Geräte*/      
.darstellung_mitarbeiterkarten h4{
    grid-column: 1 / 6;
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
    }
  
.darstellung_mitarbeiterkarten p{
    margin-top: 15px;
    margin-left: 15px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    h4.h4_ueberschrift{
        margin-top: 5px;
        margin-left: 7.5px;
        }

    h4.h4_button{
        margin-top: 5px;
        margin-left: 7.5px;
        }

    p.info {
        margin-top: 5px;
        margin-left: 7.5px;
        }
    }

@media (min-width: 440px){
    h4.h4_ueberschrift{
        margin-top: 10px;
        margin-left: 15px;
        }

    h4.h4_button{
        margin-top: 10px;
        margin-left: 30px;
        }
    
    p.info {
        margin-top: 10px;
        margin-left: 15px;
        }
    }

@media (min-width: 600px){
    h4.h4_ueberschrift{
        margin-top: 10px;
        margin-left: 15px;
        }

    h4.h4_button{
        margin-top: 15px;
        margin-left: 50px;
        }

    p.info {
        margin-top: 10px;
        margin-left: 15px;
        }
    }

/*CSS für nicht Mobile Geräte*/ 
.mitarbeiterkartengruppe{
    display: grid;
    grid-template-rows: 50px repeat(5, 70px);
    grid-template-columns: 300px 200px;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin-bottom: 50px;
    }

/*CSS für Mobile Geräte*/  
@media (min-width: 280px){
    .mitarbeiterkartengruppe{
        grid-template-rows: 25px repeat(5, 35px);
        grid-template-columns: 150px 100px;
        width: 250px;
        height: 200px;
        }
    }

@media (min-width: 440px){
    .mitarbeiterkartengruppe{
        grid-template-rows: 37.5px repeat(5, 52.5px);
        grid-template-columns: 225px 150px;
        width: 375px;
        height: 300px; 
        }
    }

@media (min-width: 600px){
    .mitarbeiterkartengruppe{
        grid-template-rows: 50px repeat(5, 70px);
        grid-template-columns: 300px 200px;
        width: 500px;
        height: 400px;
        }
    }

/*CSS für nicht Mobile Geräte*/     
.mitarbeiter_ueberschrift{
    grid-column: 2 / 3;
    background-color: var(--light);
    width: 200px;
    height: 50px;
    border: 1px solid black;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiter_ueberschrift{
        width: 100px;
        height: 25px;
        }
    }

@media (min-width: 440px){
    .mitarbeiter_ueberschrift{
        width: 150px;
        height: 37.5px;
        }
    }

@media (min-width: 600px){
    .mitarbeiter_ueberschrift{
        width: 200px;
        height: 50px;
        }
    }

/*CSS für nicht Mobile Geräte*/       
.mitarbeiter_buttons{
    display: grid;
    grid-template-rows: repeat(5, 70px);
    grid-template-columns: repeat(2, 100px);
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    border: 1px solid black;
    width: 200px;
    height: 350px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiter_buttons{
        grid-template-rows: repeat(5, 35px);
        grid-template-columns: repeat(2, 50px) ;
        width: 100px;
        height: 175px;
        }
    }

@media (min-width: 440px){
    .mitarbeiter_buttons{
        grid-template-rows: repeat(5, 52.5px);
        grid-template-columns: repeat(2, 75px);
        width: 150px;
        height: 262.5px;
        }
    }

@media (min-width: 600px){
    .mitarbeiter_buttons{
        grid-template-rows: repeat(5, 70px);
        grid-template-columns: repeat(2, 100px);
        width: 200px;
        height: 350px;
        }
    }

/*CSS für nicht Mobile Geräte*/     
.button1, .button2, .button3,
.button4, .button5, .button6,
.button7, .button8, .button9,
.button10{
    background-color: var(--light);
    border: none;
    width: 96px;
    height: 66px;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .button1, .button2, .button3,
    .button4, .button5, .button6,
    .button7, .button8, .button9,
    .button10{
        width: 46px;
        height: 31px;
        }
    }

@media (min-width: 440px){
    .button1, .button2, .button3,
    .button4, .button5, .button6,
    .button7, .button8, .button9,
    .button10{
        width: 71px;
        height: 47.5px;
        }
    }

@media (min-width: 600px){
    .button1, .button2, .button3,
    .button4, .button5, .button6,
    .button7, .button8, .button9,
    .button10{
        width: 96px;
        height: 66px;
        }
    }

/*Reihe 1 Links*/    
.button1{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    }

/*Reihe 1 Rechts*/    
.button2{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    }

/*Reihe 2 Links*/    
.button3{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    }

/*Reihe 2 Rechts*/    
.button4{
    grid-column: 2 / 2;
    grid-row: 2 / 2;;
    }

/*Reihe 3 Links*/    
.button5{
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    }

/*Reihe 3 rechts*/    
.button6{
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    }

/*Reihe 4 Links*/    
.button7{
    grid-column: 1 / 2;
    grid-row: 4 / 4;
    }

/*Reihe 4 rechts*/    
.button8{
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    }

/*Reihe 5 Links*/    
.button9{
    grid-column: 1 / 2;
    grid-row: 5 / 5;
    }

/*Reihe 5 rechts*/    
.button10{
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    }

/*CSS für nicht Mobile Geräte*/     
.mitarbeiter_erklaerung{
    grid-column: 1 / 1;
    grid-row: 1 / 6;
    background-color: var(--light);
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiter_erklaerung{
        width: 150px;
        height: 200px;
        }
    }

@media (min-width: 440px){
    .mitarbeiter_erklaerung{
        width: 225px;
        height: 300px;
        }
    }

@media (min-width: 600px){
    .mitarbeiter_erklaerung{
        width: 300px;
        height: 400px;
        }
    }

/*CSS für nicht Mobile Geräte*/ 
.mitarbeiterkarte{
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 6;
    background-color: var(--light);
    border: 1px solid black;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    animation: karte_laden 1s steps(80)
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiterkarte{
        width: 150px;
        height: 200px;
        }
    }

@media (min-width: 440px){
    .mitarbeiterkarte{
        width: 225px;
        height: 300px;
        }
    }

@media (min-width: 600px){
    .mitarbeiterkarte{
        width: 300px;
        height: 400px;
        }
    }

@keyframes karte_laden {
    from {
        margin-top: 400px;
        opacity: 0;
        }
    25% {
        opacity: 0.25;
        }
    50% {
        opacity: 0.5;
        }
    75% {
        opacity: 0.75;
        }
    to {
        margin-bottom: 0px;
        opacity: 1;
        }
    }

/*CSS für nicht Mobile Geräte*/     
.mitarbeiterkarte_ueberschrift{
    border: 1px solid black;
    height: 50px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiterkarte_ueberschrift{
        height: 25px;
        }
    }

@media (min-width: 440px){
    .mitarbeiterkarte_ueberschrift{
        height: 37.5px;
        }
    }

@media (min-width: 600px){
    .mitarbeiterkarte_ueberschrift{
        height: 50px;
        }
    }    

/*CSS für nicht Mobile Geräte*/     
.mitarbeiterkarte_bild{
    background-color: white;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiterkarte_bild{
        height: 100px;
        width: 100px;
        margin-left: 25px;
        margin-right: 25px;
        }
    }

@media (min-width: 440px){
    .mitarbeiterkarte_bild{
        height: 150px;
        width: 150px;
        margin-left: 37.5px;
        margin-right: 37.5px;
        }
    }

@media (min-width: 600px){
    .mitarbeiterkarte_bild{
        height: 200px;
        width: 200px;
        margin-left: 50px;
        margin-right: 50px;
        }
    } 

/*CSS für nicht Mobile Geräte*/    
.mitarbeiterkarte_bild img{
    height: 200px;
    width: 200px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiterkarte_bild img{
        height: 100px;
        width: 100px;
        }
    }

@media (min-width: 440px){
    .mitarbeiterkarte_bild img{
        height: 150px;
        width: 150px;
        }
    }

@media (min-width: 600px){
    .mitarbeiterkarte_bild img{
        height: 200px;
        width: 200px;
        }
    }     

/*CSS für nicht Mobile Geräte*/   
.mitarbeiterkarte_info{
    border: 1px solid black;
    height: 150px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .mitarbeiterkarte_info{
        height: 75px;
        }
    }

@media (min-width: 440px){
    .mitarbeiterkarte_info{
        height: 112.5px;
        }
    }

@media (min-width: 600px){
    .mitarbeiterkarte_info{
        height: 150px;
        }
    }   

/*CSS für die Darstellung der Leistungen*/    
/*CSS für nicht Mobile Geräte*/
.darstellung_leistungskarten {
    display: grid;
    grid-template-rows: 140px auto;  
    grid-template-columns:  auto 1776px auto;
    grid-row: 4 / 4;
    background-color: var(--light);    
    width: 100%;
    height: auto;
    overflow: hidden;
    align-content: space-around;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .darstellung_leistungskarten {
        grid-template-rows: 140px auto;
        grid-template-columns: auto 280px auto;
        }
    }

@media (min-width: 440px){
    .darstellung_leistungskarten {
        grid-template-rows: 140px auto;
        grid-template-columns: auto 440px auto;
        }
    }

@media (min-width: 600px){
    .darstellung_leistungskarten {
        grid-template-rows: 140px auto;
        grid-template-columns: auto 600px auto;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
@media (min-width: 888px){
    .darstellung_leistungskarten {
        grid-template-rows: 140px auto;  
        grid-template-columns:  auto 888px auto;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
@media (min-width: 1332px){
    .darstellung_leistungskarten {
        grid-template-rows: 140px auto;  
        grid-template-columns:  auto 1332px auto;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
@media (min-width: 1776px){
    .darstellung_leistungskarten {
        grid-template-rows: 140px auto;  
        grid-template-columns:  auto 1776px auto;
        }
    }

/*CSS für nicht Mobile Geräte*/    
.darstellung_leistungskarten h3 {
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
    }

.darstellung_leistungskarten h4{
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    }

.darstellung_leistungskarten p {
    margin-left: 1px;
    }

.darstellung_leistungskarten i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 15;
    margin-left: -15px;
    }

/*CSS für Mobile Geräte*/

/*CSS für nicht Mobile Geräte*/    
.ueberschrift {
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    }

/*CSS für Mobile Geräte*/

/*CSS für nicht Mobile Geräte*/ 
.leistungskartengruppe {
    display: grid;
    grid-template-columns: repeat(4, 50px 344px 50px);
    grid-template-rows: repeat(2, 50px 242px 50px);
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    justify-content: space-around;
    background-color: white;
    width: auto;
    height: auto;
    }    

/*CSS für Mobile Geräte*/
@media (min-width: 280px) {
    .leistungskartengruppe {
        grid-template-columns: repeat(1, 50px 172px 50px);
        grid-template-rows: repeat(8, 50px 363px 50px);
        }
    }

@media (min-width: 440px) {
    .leistungskartengruppe {
        grid-template-columns: repeat(1, 50px 258px 50px);
        grid-template-rows: repeat(8, 50px 302.5px 50px);
        }
    }

@media (min-width: 600px) {
    .leistungskartengruppe {
        grid-template-columns: repeat(1, 50px 344px 50px);
        grid-template-rows: repeat(8, 50px 242px 50px);
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
@media (min-width: 888px){
    .leistungskartengruppe{
        grid-template-columns: repeat(2, 50px 344px 50px);
        grid-template-rows: repeat(4, 50px 242px 50px);
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
@media (min-width: 1332px){
    .leistungskartengruppe{
        grid-template-columns: repeat(3, 50px 344px 50px);
        grid-template-rows: repeat(3, 50px 242px 50px);
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
@media (min-width: 1776px){
    .leistungskartengruppe{
        grid-template-columns: repeat(4, 50px 344px 50px);
        grid-template-rows: repeat(2, 50px 242px 50px);
        }
    }

/*CSS für nicht Mobile Geräte*/
.leistungskarte1, .leistungskarte2, .leistungskarte3, .leistungskarte4,
.leistungskarte5, .leistungskarte6, .leistungskarte7, .leistungskarte8 {
    display: grid;
    grid-template-rows: 62px auto;
    grid-template-columns: 62px auto;
    background-color: var(--light);
    width: auto;
    height: 242px;
    transform-style: preserve-3d;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .leistungskarte1, .leistungskarte2, .leistungskarte3, .leistungskarte4,
    .leistungskarte5, .leistungskarte6, .leistungskarte7, .leistungskarte8 {
        height: 363px;
        }
    }

@media (min-width: 440px) {
    .leistungskarte1, .leistungskarte2, .leistungskarte3, .leistungskarte4,
    .leistungskarte5, .leistungskarte6, .leistungskarte7, .leistungskarte8 {
        height: 302.5px;
        }
    }

@media (min-width: 600px) {
    .leistungskarte1, .leistungskarte2, .leistungskarte3, .leistungskarte4,
    .leistungskarte5, .leistungskarte6, .leistungskarte7, .leistungskarte8 {
        height: 242px;
        }
    }

/*CSS für nicht Mobile Geräte*/
/*Reihe 1: Nummer 1*/
.leistungskarte1{
    grid-column:  2 / 2;
    grid-row: 2 / 2;
    }

/*CSS für nicht Mobile Geräte*/
/*Reihe 1: Nummer 2*/    
.leistungskarte2{
    grid-column: 5 / 5;
    grid-row: 2 / 2;
    }

/*CSS für Mobile Geräte*/
/*Reihe 2: Nummer 1*/
@media (min-width: 280px) {
    .leistungskarte2{
        grid-column: 2 / 2;
        grid-row: 5 / 5;
        }
    }

@media (min-width: 888px) {
    .leistungskarte2{
        grid-column: 5 / 5;
        grid-row: 2 / 2;
        }
    }

/*CSS für nicht Mobile Geräte*/    
/*Reihe 1: Nummer 3*/
.leistungskarte3{
    grid-column: 8 / 8;
    grid-row: 2 / 2;
    }

/*CSS für Mobile Geräte*/
/*Reihe 3: Nummer 1*/
@media (min-width: 280px) {
    .leistungskarte3{
        grid-column: 2 / 2;
        grid-row: 8 / 8;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
/*Reihe 2: Nummer 1*/
@media (min-width: 888px){
    .leistungskarte3{
        grid-column: 2 / 2;
        grid-row: 5 / 5;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
/*Reihe 1: Nummer 3*/
@media (min-width: 1332px){
    .leistungskarte3{
        grid-column: 8 / 8;
        grid-row: 2 / 2;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
/*Reihe 1: Nummer 3*/
@media (min-width: 1776px){
    .leistungskarte3{
        grid-column: 8 / 8;
        grid-row: 2 / 2;
        }
    }

/*CSS für nicht Mobile Geräte*/ 
/*Reihe 1: Nummer 4*/
.leistungskarte4{
    grid-column: 11 / 11;
    grid-row: 2 / 2;
    }

/*CSS für Mobile Geräte*/
/*Reihe 4: Nummer 1*/
@media (min-width: 280px) {
    .leistungskarte4{
        grid-column: 2 / 2;
        grid-row: 11 / 11;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
/*Reihe 2: Nummer 2*/
@media (min-width: 888px){
    .leistungskarte4{
        grid-column: 5 / 5;
        grid-row: 5 / 5;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
/*Reihe 2: Nummer 1*/
@media (min-width: 1332px){
    .leistungskarte4{
        grid-column: 2 / 2;
        grid-row: 5 / 5;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
/*Reihe 1: Nummer 4*/
@media (min-width: 1776px){
    .leistungskarte4{
        grid-column: 11 / 11;
        grid-row: 2 / 2;
        }
    }

/*CSS für nicht Mobile Geräte*/     
/*Reihe 2: Nummer 1*/
.leistungskarte5{
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    }

/*CSS für Mobile Geräte*/
/*Reihe 5: Nummer 1*/
@media (min-width: 280px) {
    .leistungskarte5{
        grid-column: 2 / 2;
        grid-row: 14 / 14;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
/*Reihe 3: Nummer 1*/
@media (min-width: 888px){
    .leistungskarte5{
        grid-column: 2 / 2;
        grid-row: 8 / 8;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
/*Reihe 2: Nummer 2*/
@media (min-width: 1332px){
    .leistungskarte5{
        grid-column: 5 / 5;
        grid-row: 5 / 5;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
/*Reihe 2: Nummer 1*/
@media (min-width: 1776px){
    .leistungskarte5{
        grid-column: 2 / 2;
        grid-row: 5 / 5;
        }
    }

/*CSS für nicht Mobile Geräte*/      
/*Reihe 2: Nummer 2*/
.leistungskarte6{
    grid-column: 5 / 5;
    grid-row: 5 / 5;
    }

/*CSS für Mobile Geräte*/
/*Reihe 6: Nummer 1*/
@media (min-width: 280px) {
    .leistungskarte6{
        grid-column: 2 / 2;
        grid-row: 17 / 17;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
/*Reihe 3: Nummer 2*/
@media (min-width: 888px){
    .leistungskarte6{
        grid-column: 5 / 5;
        grid-row: 8 / 8;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
/*Reihe 2: Nummer 2*/
@media (min-width: 1332px){
    .leistungskarte6{
        grid-column: 8 / 8;
        grid-row: 5 / 5;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
/*Reihe 2: Nummer 2*/
@media (min-width: 1776px){
    .leistungskarte6{
        grid-column: 5 / 5;
        grid-row: 5 / 5;
        }
    }

/*CSS für nicht Mobile Geräte*/   
/*Reihe 2. Nummer 3*/    
.leistungskarte7{
    grid-column: 8 / 8;
    grid-row: 5 / 5;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .leistungskarte7{
        grid-column: 2 / 2;
        grid-row: 20 / 20;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
/*Reihe 4: Nummer 1*/
@media (min-width: 888px){
    .leistungskarte7{
        grid-column: 2 / 2;
        grid-row: 11 / 11;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
/*Reihe 3: Nummer 1*/
@media (min-width: 1332px){
    .leistungskarte7{
        grid-column: 2 / 2;
        grid-row: 8 / 8;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
/*Reihe 2: Nummer 3*/
@media (min-width: 1776px){
    .leistungskarte7{
        grid-column: 8 / 8;
        grid-row: 5 / 5;
        }
    }

/*CSS für nicht Mobile Geräte*/    
/*Reihe 2. Nummer 4*/    
.leistungskarte8{
    grid-column: 11 / 11;
    grid-row: 5 / 5;
    }

/*CSS für Mobile Geräte*/
/*Reihe 8: Nummer 1*/
@media (min-width: 280px) {
    .leistungskarte8{
        grid-column: 2 / 2;
        grid-row: 23 / 23;
        }
    }

/*CSS für Bildschirme die eine breite von min 888px haben*/
/*Reihe 4: Nummer 2*/
@media (min-width: 888px){
    .leistungskarte8{
        grid-column: 5 / 5;
        grid-row: 11 / 11;
        }
    }

/*CSS für Bildschirme die eine breite von min 1332px haben*/
/*Reihe 3: Nummer 2*/
@media (min-width: 1332px){
    .leistungskarte8{
        grid-column: 8 / 8;
        grid-row: 8 / 8;
        }
    }

/*CSS für Bildschirme die eine breite von min 1776px haben*/
/*Reihe 2: Nummer 4*/
@media (min-width: 1776px){
    .leistungskarte8{
        grid-column: 11 / 11;
        grid-row: 5 / 5;
        }
    }

/*CSS für nicht Mobile Geräte*/    
.karte_bild {
    grid-column: 1 / 1;
    grid-row: 1 / 1 ;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    float: left;
    }

/*CSS für Mobile Geräte*/

/*CSS für nicht Mobile Geräte*/
.karte_ueberschrift {
    grid-column: 2 / 3;
    grid-row: 2 / 2 ;
    width: 282px;
    height: 62px;
    display: flex;
    align-items: center;
    margin-top: -62px;
    border-top-right-radius: 16px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .karte_ueberschrift{
        width: 110px;
        }    
    }

@media (min-width: 440px){
    .karte_ueberschrift{
        width: 196px;
        }
    }

@media (min-width: 600px){
    .karte_ueberschrift{
        width: 282px;
        }
    }

/*CSS für nicht Mobile Geräte*/    
.karte_inhalt {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 344px;
    height: 180px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }

/*CSS für Mobile Geräte*/
@media (min-width: 280px){
    .karte_inhalt{
        width: 172px;
        }
    }

@media (min-width: 440px){
    .karte_inhalt{
        width: 258px;
        }
    }

@media (min-width: 600px){
    .karte_inhalt{
        width: 344px;
        }
    }

/*CSS für nicht Mobile Geräte*/    
.karte_inhalt p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    }

/*CSS für Mobile Geräte*/

/*CSS für den Filler*/
.filler{
    grid-row: 5 / 5;
    background-color: var(--light);
    }