.loader_bg {
	position: fixed;
	z-index: 999999;
	background: #000000;
	width: 100%;
	height: 100%;
}

.loader{
	border: 0 solid transparent;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
	top: calc(50vh - 75px);
	left: calc(50vh - 75px);
}

.loader:before, .loader::after {
	content: '';
	border: lem solid #621ac7;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	animation: loader 2s linear infinite;
	opacity: 0;
}

.loader:before {
	animation-delay: 5s;
}

@keyframes loader {
	0%{
		transform: scale(0);
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}

:root {
	--primary: #ffffff;
	--secondary: #bebebe;
	--dark: #212121;
	--light: #F3F3F3;
  }


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar { 
	width: 0;
	height: 0;
  }

html, body{
	overscroll-behavior: contain;
	scroll-behavior: smooth;
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 100%;
	height:100%;
	}

body.noScroll {
	overflow: hidden
}

.header {
	position: fixed;
	height: 80px;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem 3rem;
	z-index: 1;
	backdrop-filter: blur(2px);
}

	  
.header a {	
	text-decoration: none;
	color: #111111;
	font-size: 2rem;
}

	  
.menu-items {
	list-style: none;
	display: flex;
	align-items: center;
}
	  
.menu-items li a {
	font-size: 1rem;
	padding: 0.5em 1em;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
	  
.menu-items li a:hover {
	background-color: #ccc7d3;
}

.menu-items.hidden-nav {
	opacity: 0;
   	transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
   	visibility: hidden;
}

.menu-items.show-nav {
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	visibility: visible;
}

.menu-btn.hidden-nav {
	opacity: 0;
   	transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
   	visibility: hidden;
	display: none;
}

.menu-btn.show-nav {
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	visibility: visible;
}

@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}

.first-sec {
	width: 100%;
	background-color: #eeeeee;
}

.first-sec h1{
	margin-left: 15px;
	margin-right: 15px;
}
	
.first-sec p{
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
}

.first-sec ol{
	margin-top: 5px;
	margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 5px;
}
	
.first-sec ol.unterpunkt{
	margin-left: 15px;
}

.inhalt{
	padding-top: 100px;
	text-align: left;
	scale: 150%;
}

.line {
	position: sticky;
	top: 0px;
}

	
#nav a {
	color: black;
	display: inline-block;
	text-decoration: none; 
	}	

footer{
	width: 100%;
	height: 15%;
	position: relative;
	left: 0px;
	padding: 13px;
	background-color: #f1f1f1;
	}

footer a:hover {
	text-decoration: underline;
}

footer  ul{
	justify-content: center;
	display: flex;
	margin: 0 auto;
	padding: 0%;
	list-style-type: decimal;
	font-size: 15pt;
	margin-top: 13px;
	margin-left: 0%;
	margin-bottom: 0px;
	}
	
footer li{
	font-size: 80%;
	float: left;
	list-style:none;
	margin-right: 50px;
	}

footer a {
	color: black;
	display: inline-block;
	text-decoration: none; 
}	
	
.menu-btn {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 1;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
	width: 1.5rem;
	height: 0.1rem;
	background-color: #111111;
	transition: all 0.3s ease-in-out;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
	content: "";
	position: absolute;
}
.menu-btn__lines::before {
	transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
	transform: translateY(0.5rem);
}
	  /* Animation */
.menu-btn.open .menu-btn__lines {
	transform: translateX(2rem);
	background-color: transparent;
}
.menu-btn.open .menu-btn__lines::before {
	transform: rotate(45deg) translate(-1.5rem, 1.5rem);
	background-color: #000000;
}
.menu-btn.open .menu-btn__lines::after {
	transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
	background-color: #000000;
}

@media (max-width: 767px) {

.menu-btn {
	display: flex;
}

.menu-items {
	flex-direction: column;
	justify-content: absolute;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	display: none;
	background-color: #ffffff;
	transition: transform 0.3s ease-in-out;
}

.menu-items.open {
	display: flex;
}
.menu-items li {
	width: 100vw;
	height: 100%;
}
.menu-items li a {
	color: #000000;
	font-size: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.menu-items li a:hover {
	color: #111111;
}
}

@media (min-width: 960px) {
	.card {
		float: left;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 40px;
		margin-right: 40px;
}
}

@media (max-width: 960px) {
	.card {
		margin: 100px auto 0;
	}
		
}
.button {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	font-size: 18px;
	color: var(--dark);
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	background: var(--light);
	border-radius: 20px;
	z-index: 1;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
   }
   
.button:hover {background-color: var(--secondary);}

.button:focus{
	outline:none !important;
}

.login-wrapper {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-form {
	position: relative;
	width: 100%;
	height: 540px;
	max-width: 380px;
	padding: 80px 40px 40px;
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	color: #fff;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.contact-form .input-group input {
	width: 100%;
	padding: 10px 0;
	font-size: 1rem;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background-color: transparent;
	color: inherit;
}

textarea {
	outline: none;
	resize: none;
	width: 100%;
	height: 150px;
	background-color: rgba(0,0,0,0.7);
	background-color: transparent;
	color: inherit;
	font-size: 16px;
  }

#buttonS {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 30px;
	color: inherit;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	background-color: rgba(0,0,0,0.7);
	background-color: transparent;
	border-radius: 30px;
	color: #8e8e8e;
	z-index: 1;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

#buttonS:hover {
background-color:rgba(0,0,0,0.25);
}

#buttonS:focus{
	outline:none !important;
 }

	textarea::placeholder {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	padding: 60px;
}

hr {
    width:100%;
    margin:0 auto;
}

.intro {
	width: 100vh; 
	min-width: 100%;
	position: fixed;
	z-index: -1;
}
  
.intro video {
	object-fit: cover;
	height: 100vh; 
	min-height: 100%;
	width: 100vh; 
	min-width: 100%;
}
  
.intro h5 {
	position: absolute;
	font-family: ThunderTitle, Helvetica, Arial, sans-serif;
	letter-spacing: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vmax;
	color: white;
}

.downArrow {
	position: absolute;
	top: 95%;
	left: 50%;
    margin-right: -50%;
	filter: invert(1);
	z-index: 2;
}
.bounce {
	-moz-animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	animation: bounce 4s infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#card-wrapper {
	align-content:space-around;
	overflow: hidden;
}